<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>S&P 500 — DCF Analysis</title>
    <!-- <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='style.css') }}" /> -->
    <link rel = "stylesheet" type = "text/css" href = "/static/style.css" />
    <!-- <style src = "/style.css"></style> -->
</head>

<body>
    <h1>DCF Analysis</h1>
    <p>Enter a stock ticker:</p>
    <form autocomplete = "off" method = "POST" action = "/calculate">
        <div class = "autocomplete" style = "width:300px">
            <input id = "ticker" type = "text" name = "ticker" required>
        </div>
        <input type="submit">
    </form>

    <script src = "/static/index.js"></script>
    
    {% if dcf_value %}
        <h3>Current Price for {{ticker}}: ${{curr_price}}</h3>
        <h3>DCF Projection for {{ticker}}: ${{dcf_value}}</h3>
        <h2>Upside/Downside: {{pct_diff}}%</h2>
    {% elif error %}
        <h2>Error: {{error}}</h2>
    {% endif %}
</body>
</html>